<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Books</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>ISBN</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            <tr th:object="${book}" th:each = "book : ${books}">
                <td th:text="*{author}"></td>
                <td th:text="*{title}"></td>
                <td th:text="*{isbn}"></td>
                <td th:text="*{publicationYear}"></td>
                <td><a class="btn btn-danger" th:href="@{/delete/{id}(id=*{id})}">Delete</a></td>
                <td><a th:href="@{/edit/{id}(id=*{id})}">Edit</a></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-success" href="/add">Add Book</a>
</body>
</html>